<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ListCars</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Engine</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${car}">
        <td th:text="${car.modelCar}">Model</td>
        <td th:text="${car.color}">Color</td>
        <td th:text="${car.engine}">Engine</td>
    </tr>
    </tbody>
</table>
</body>
</html>